*{
    padding: 0;
    margin: 0; 
}
body{
background-color: #000;
}
.box-form{
    width: 600px;
    background-color: rgb(66, 66, 66);
    height:400px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center; 
}
.input{
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(10, 0, 0);
}

form h1{
    padding-bottom: 30px;
    
}

button{
    width: 180px;
    height: 20px;
    color: #fff;
    background-color: rgb(3, 2, 58);
    box-shadow: 10px 4px 2px #000;
    cursor: pointer;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    
}

