body {
    margin: 0;
    padding: 0;
    background-color: #3d3d3d;
    
}

header {
    display: flex;
    background-color: #303952;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    justify-content: space-between;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Fira Code';
    text-decoration: none;
    margin-right: 30px; 
}

a::before{
    content: '';
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #227093;
    
}

a:hover{
    transform: scale(1.02);
    box-shadow: 10px 10px 20px -12px #7efff5;
}

.button1{
    display: inline-block;
    background-color: #aaa69d;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000; 
    margin-right: 0;
}

.button1:hover{
    transform: scale(1.02);
    background-color: #2d98da;
    box-shadow: 10px 10px 40px -12px #7efff5;
}

.wrapper h1{
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #7efff5;
    text-shadow: 4px 4px 0px #000000;
    text-align: center;
    
}

.wrapper h2{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #cc8e35;
    text-shadow: 4px 4px 0px #000000;
    
}

#box{
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 44px 44px;
    
}

#box h1{
    margin-bottom: 28px;
}

.banner{
    background-image: url(/porjeto-portifolio/Imagens-Projeto-portifolio/backgroud3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 475px;
    border-bottom: 10px solid #000;
    padding: 100px 80px;

}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner #box {
    margin-bottom: 40px;
}

.banner .navigation{
    display: flex;
    justify-content: space-around; 
}

.title2{
    color: #32ff7e;
    font-family: 'Press Start 2P', sans-serif;
    font-size: normal;
    font-weight: 400;
    text-shadow: 4px 4px 0px #000000;
    text-align: center;


}

.skills{
    background-color: #5f2323;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #000000;
    

}
